{% load static %}
{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
    {% block title %}
        eCommerce Django Vue
    {% endblock %}
    </title>

    {% block base_head %}
    {% endblock %}

    {% block styles %}
    {% endblock %}
</head>
<body>
    <div id="app">

        {% include 'base/header.html' %}
        <div class="container">
        <tools>
            {% block content %}
            {% endblock %}
        <tools>
        </div>
        {% include 'base/footer.html' %}
    </div>
    {% render_bundle 'main' %}
</body>
</html>