<!-- Footer -->

<br><br><br><br><br><br><br><br><br><br><br>
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.72rem"><strong>DISCLAIMER:</strong> please note this site is ment as a demo, its <strong>not a real store</strong>, i dont own any of the products or brands on here and nothing will actaully be shipped, <strong>stripe</strong> (the integrated payment system) is in <strong>test mode</strong>, so <strong>real cards will be declined</strong></p>

        <div class="row">
        <div class="col-6 text-right">
        <br>During checkout use the numbers on the right to advance through the checkout process:
        </div>
        <div class="col-6 text-left">
        <br><br>visa card number: 42 42 42 42 42 42 42 42
        <br>CVC: Any 3 digits 	
        <br>date: Any future date
        </div>
        </div>
        <br>check out the <a href="/api">rest api page</a>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Made by: Mohammad Rafik <a href="https://github.com/MohammadRafik/ecom_django_vue">github</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->