{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand h2" style="margin-right:2rem" href="{% url 'products:home' %}">Electrone</a>
            <form class="form-inline mr-auto" method="get" action="{% url 'products:product_search' %}">
                <input name="search_string" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'products:home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'cart:cartpageloader' %}"><img src="{% static 'base/imgs/shopping-cart.png' %}" width="30px"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}"><img src="{% static 'base/imgs/user.png' %}" width="30px"></a>
        </li>
        {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            #
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'mainapp:home' %}">Action</a>
            <a class="dropdown-item" href="{% url 'mainapp:home' %}">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'mainapp:home' %}">Something else here</a>
            </div>
        </li> {% endcomment %}
        </ul>
    </div>
</nav>