{% extends "base/base.html" %}
{% block content %}



                {% for filtervar in request.filter %}
                    <a href="{% url 'products:filter' filtervar %}"{{filtervar}}>keyboards</a>
                    <h2> filter is being used here through request</h2>
                {% endfor %}
{% comment %} here we load the categories {% endcomment %}
                {% for category in main_categories %}
                    {% include "products/components/category_recursion.html" %}
                {% endfor %}

                {% for product in products %}
                    <h5> {{product}} </h5>
                    {% for product_image in product_images %}
                        {% if product_image.product == product and product_image.main_picture == True%}
                            <img src="{{product_image.image_url}}">
                        {% endif %}
                    {% endfor %}
                {% endfor %}


                {% comment %} products {% endcomment %}

{% endblock content %}