{% extends "base/base.html" %}
{% block content %}

<h1>{{product}}</h1>
<img src="/media/{{main_image.image_url}}" width='200'>


{% comment %} put details here, desciprion, cost etc {% endcomment %}
<p>{{product.description}}</p>
<strong>CDN${{product.current_price}}</strong>

<template>
<form action="/api/cartitem/" method="post">
{% csrf_token %}
    <input type="hidden" name="cart" value="{{urls_cart}}">
    <input type="hidden" name="product" value="{{urls_product}}">
    <input type="hidden" name="quanitity" value="1">
    {% if request.user.is_authenticated %}
        <input type="hidden" name="updated_by" value="{{request.user.get_username}}">
        <input type="hidden" name="created_by" value="{{request.user.get_username}}">
    {% else %}
        <input type="hidden" name="updated_by" value="anonymous">
        <input type="hidden" name="created_by" value="anonymous">        
    {% endif %}
    <button type="submit">Add to cart</button>
</form>
</template>
{% comment %} rest of the photos {% endcomment %}
{% if other_images%}
<p>more images</p>
{%for image in other_images%}
    <img src="/media/{{image.image_url}}" width='200'>
{%endfor%}
{% endif %}

{% endblock content %}
