{% extends "base/base.html" %}
{% block content %}
    {% if request.user.is_authenticated %}
    <br>
        Hello {{request.user.get_username}}, you are logged in, this is the account home page

        
    <br><br><br><br><br>
        <form onsubmit="" action="{% url 'accounts:logout' %}" method="get">
        {% csrf_token %}
            <div class="float-right">
                <button type="submit" class="btn btn-primary">
                    Logout
                </button>
            </div>
        </form>
    {% else %}
        You are not logged in
    {% endif %}

{% endblock content %}