{% extends "base/base.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-sm-9">
        <div class="card">
            <div class="card-header">
                Cart Porudcts
            </div>
            <ul class="list-group list-group-flush">
                {% for cart_item in cart_items%}
                    <li class="list-group-item">
                    <strong>{{cart_item.product.title}}</strong>
                    {% for product_image in product_images %}
                        {% if product_image.product_id == cart_item.product_id %}
                            <br><img src="/media/{{product_image.image_url}}" width='50'>
                            <p class="text-right"><strong>CDN${{cart_item.product.current_price}}</strong> x {{cart_item.quantity}}</p>
                        {% endif %}
                    {% endfor %}
                {% comment %} button to remove item from cart {% endcomment %}
                    <form v-on:submit.prevent="delete_item_from_cart('{{cart_item.id}}')" method="delete">    
                        <button class="btn-warning" type="submit">remove from cart</button>
                    </form>
                    
                    </li>
                {% empty %}
                    <li class="list-group-item">
                        you dont have any products in your cart
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% comment %} total cost {% endcomment %}
    <div class="col-sm-3">
        <div class="float-right">
            <ul class="list-group">
                <li class="list-group-item">
                    total before tax: {{total_cost}}
                    <br>
                    Tax: {{tax}}
                </li>
                <li class="list-group-item">
                final price:<br><br>
                    <div class="float-right">
                        CDN${{total_cost_with_tax}}


                        {% if cart_items%}
                            <form action="{% url 'cart:checkout_page' %}" method="get">
                                <button class="btn-info"> proceed to checkout </button>
                            </form>
                        {% endif %}







                    </div>
                    {% comment %} checkout {% endcomment %}
                    <br>
                </li>
            </ul>
        </div>
        <br><br><br><br><br><br><br>
    </div>
</div>







<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
{% endblock content %}