{% extends "base/base.html" %}
{% block content %}


<h1>this is the cart home page, where we show all products added to the cart </h1>
<div class="card" style="width: 66rem;">
    <div class="card-header">
        Cart Porudcts
    </div>
    <ul class="list-group list-group-flush">
        {% for cart_item in cart_items%}
            <li class="list-group-item">
            <strong>{{cart_item.product.title}}</strong>
            {% for product_image in product_images %}
                {% if product_image.product_id == cart_item.product_id %}
                    <br><img src="/media/{{product_image.image_url}}" width='50'>
                    <p class="text-right"><strong>CDN${{cart_item.product.current_price}}</strong> x {{cart_item.quantity}}</p>
                {% endif %}
            {% endfor %}

            </li>
        {% empty %}
            <li class="list-group-item">
                you dont have any products in your cart
            </li>
        {% endfor %}
    </ul>
</div>

{% comment %} total cost {% endcomment %}
<div class="float-right">
    <ul class="list-group">
        <li class="list-group-item">
            total before tax: {{total_cost}}
            <br>
            Tax: {{tax}}
        </li>
        <li class="list-group-item">
        final price:<br><div class="float-right"> CDN${{total_cost_with_tax}}</div>
        </li>
    </ul>
</div>
<br><br><br><br><br><br><br>

{% comment %} checkout {% endcomment %}
<form action="">
<button class="float-right">checkout</button>
<br><br>
<p class="float-right">please note the checkout functionality has not been added yet </p>
</form>

{% endblock content %}